<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.joulis1derful.project.todo">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.joulis1derful.project.todo.activity.AddNoteActivity"
            android:label="@string/title_activity_add_note"
            android:parentActivityName="com.joulis1derful.project.todo.activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.joulis1derful.project.todo.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.MainActivity">
        </activity>
        <activity
            android:name="com.joulis1derful.project.todo.activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName="com.joulis1derful.project.todo.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.joulis1derful.project.todo.service.FirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name="com.joulis1derful.project.todo.service.FirebaseMessageService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name="com.joulis1derful.project.todo.service.MessageSenderService"
            android:exported="false" />

    </application>

</manifest>